@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components.css";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


strong {
    @apply font-semibold
}

.h-fill {
    @apply h-[70vh] sm:h-[calc(100svh-var(--nav-height)-var(--banner-height))]
}

.section {
    @apply mx-auto w-11/12 max-w-screen-xl py-16 sm:py-24
}


[x-cloak] {
    @apply !hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
